<p>
  <strong>Название вопроса:</strong>
  <%= @question.title %>
</p>

<%= link_to 'Редактировать вопрос', edit_question_path(@question) %> |
<%= link_to 'Вернуться к тесту', controller: "tests", action: "show", id: @question.test_id %> | 
<%= link_to 'Удалить', question_path(@question),
                       method: :delete,
                       data: {confirm: 'Вы уверены?'} %>
                  
  
