 <h1>Созданые Гисты</h1>
  <table>
    <thead>
      <tr>
        <th>Вопрос</th>
        <th>Ссылка на гист</th>
        <th>Email пользователя, отправившего гист</th>
      </tr>
    </thead>
    <tbody>
    <%= render @gists %>
    </tbody>
  </table>
  <%= link_to 'Назад к списку тестов', admin_tests_path %>
