<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <nav>
      <p><%= current_year %></p>
      <p>Автор: Салихов Дамир</p>
      <p><a target="_blank" rel="nofollow" rel="noopener" href='<%= guthub_url('armidsinner', 'test_guru') %>'>Ссылка на репозиторий проекта</a></p>
      <p>Проект представляет из себя приложение для написания и прохождения тестов</p>
      <p><a target="_blank" rel="nofollow" rel="noopener" href='https://thinknetica.com/'>Учебный проект в онлайн-школе Thinknetica</a></p>
    </nav>
  </div>
</footer>  