<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <nav>
      <p><%= current_year %></p>
      <p>Автор: Салихов Дамир</p>
      <p><%= guthub_url('armidsinner','test_guru', 'TestGuru') %>- Ссылка на репозиторий проекта</p>
      <p>Проект представляет из себя приложение для написания и прохождения тестов</p>
      <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 
'https://thinknetica.com/', rel: :nofollow, target: :_blank %></p>
    </nav>
  </div>
</footer>  
