<h1>Результаты поиска</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Надежность</th>
      <th>Комментарий</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |p| %>
      <%= render p %>
    <% end %>
  </tbody>
<table>

<%= link_to 'На главную страницу', root_path %>