<h1>Список всех тестов</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Уровень сложности</th>
      <th>Количество вопросов</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
  
<table>
