<h1>Список всех тестов</h1>

<table>
  <thead>
    <tr>
      <th class="sort-by-title pointer">
        Название
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-danger hide' %>
      </th>
      <th>Уровень сложности</th>
      <th>Количество вопросов</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
  
<table>
