<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>about</title>
</head>
<body>
  <p>Armid Sinner - Moscow 21 y.o. developer.</p>
  <p>Github page <a href="https://github.com/armidsinner">ArmidSinner</a></p>
</body>
</html>
