<tr>
  <td><%= criteries_project.critery.title %></td>
  <td><%= criteries_project.reliability_percent %></td>
  <td><%= criteries_project.reliability_b %></td>

  <td><%= link_to 'Изменить численные показатели', edit_admin_criteries_project_path(criteries_project) %></td>
</tr>